.popup-add__container {
    padding-top: 34px;
    width: calc(100% - 38px);
    max-width: 430px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    position: relative;
}

@media screen and (max-width: 320px) {
    .popup-add__container {
        padding-top: 25px;
    }
}