.popup-edit__container {
    max-width: 430px;
    width: 100%;
    min-height: 330px;
    border-radius: 10px;
    background-color: white;
    margin: auto;
    position: relative;
    align-items: center;
}

@media screen and (max-width: 320px) {
    .popup-edit__container {
        max-width: 282px;
        min-height: 322px;
    }
}